-- Create user and grant permissions
CREATE USER '${DB_USER}'@'%' IDENTIFIED BY '${DB_PASSWORD}';
GRANT ALL PRIVILEGES ON *.* TO '${DB_USER}'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;

-- Load data from backup file
SOURCE /docker-entrypoint-initdb.d/employees-backup-initial.sql;